.clients-feedback {
    background: #e0e0e0;
}

.slider-box {
    background-color: #fcfcfc;
    border-radius   : 15px;
    height          : 100%;
}

.slider-box img {
    border      : 1px solid green;
    margin-right: 15px;

}

.client-name {
    font-size  : 15px;
    font-weight: 500;
}

.client-title {
    font-size  : 14px;
    font-weight: 300;
}

.client-message {
    font-size  : 14px;
    margin     : 0;
    padding-top: 10px;
}